<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Albietz Law Firm: Specializing in Mediation, Water Law, Environmental Law & Federal Indian Law</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <meta name="Keywords" content="mediation, law firm, environment, environmental law, federal indian law, lawyer, sacramento, water law, natural resources" />
  <style type="text/css" media="screen">@import "basic.css";</style>
  <style type="text/css" media="screen">@import "tabs.css";</style>
</head>
<img id="logo-homepage" src="images/albietz-law-medium.png" height="109" width="239" alt="Albietz Law Firm"/><h1 id="logo-text">Specializing in Mediation, Water Law,<br />Environmental Law &amp; Federal Indian Law</h1>
<body>
